{% extends 'dashboard.html.twig' %}

{% block title %}Tableau de bord - Missions{% endblock %}

{% block content %}
    <div>
        <h1 class="text-2xl font-bold mb-6">Missions</h1>
    </div>
{% endblock %}
