<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue sur ICanFly{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-gray-900">
<header class="bg-[#1E2A38] text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/">
            <img src="{{ asset('images/logo_ICanfLY_monochrome.svg') }}" alt="Logo I can Fly" class="h-10">
        </a>
        <div>
            <nav>
                <a href="/" class="px-4 py-2 hover:underline text-white">Accueil</a>
                <a href="{{ path('page_about_us') }}" class="px-4 py-2 hover:underline text-white">À propos de nous</a>
                <a href="{{ path('page_mission') }}" class="px-4 py-2 hover:underline text-white">Les missions</a>
                <a href="" class="px-4 py-2 hover:underline text-white">Se connecter</a>
            </nav>
        </div>
    </div>
</header>
<main class="container mx-auto mt-8">
    {% block body %}{% endblock %}
</main>
<footer class="bg-[#1E2A38] text-white py-4 mt-8">
    <div class="container mx-auto text-center">
        <p>&copy; {{ "now"|date("Y") }} - I can Fly</p>
    </div>
</footer>
</body>
</html>
