<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mission en 24H ! </title>
</head>
<body>
<h1>Bonjour {{ user.firstName }} {{ user.lastName }},</h1>

<p>
    Nous vous rappelons que la mission <strong>{{ missionName }}</strong> aura lieu dans moins de 24 heures.
    <br>
    Veuillez vous préparer pour le décollage.
</p>

<p>Merci pour votre compréhension,</p>
<p>L'équipe ICanFly</p>
</body>
</html>
